<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.yhpark.matzip.mappers.UserMapper">
    <delete id="deleteRecoverEmailCode"
            parameterType="dev.yhpark.matzip.entities.RecoverEmailCodeEntity">
        DELETE
        FROM `matzip`.`recover_email_codes`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>

    <insert id="insertRecoverContactCode"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.yhpark.matzip.entities.RecoverContactCodeEntity">
        INSERT INTO `matzip`.`recover_contact_codes` (`contact`, `code`, `salt`, `created_at`, `expires_at`, `expired_flag`)
        VALUES (#{contact},
                #{code},
                #{salt},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{expiresAt},
                IFNULL(#{isExpired}, DEFAULT(`expired_flag`)))
    </insert>

    <insert id="insertRecoverEmailCode"
            parameterType="dev.yhpark.matzip.entities.RecoverEmailCodeEntity">
        INSERT INTO `matzip`.`recover_email_codes` (`email`, `code`, `salt`, `created_at`, `expires_at`, `expired_flag`)
            VALUE (#{email},
                   #{code},
                   #{salt},
                   IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                   #{expiresAt},
                   #{isExpired})
    </insert>
    
    <insert id="insertRegisterContactCode"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.yhpark.matzip.entities.RegisterContactCodeEntity">
        INSERT INTO `matzip`.`register_contact_codes` (`contact`, `code`, `salt`, `created_at`, `expires_at`, `expired_flag`)
        VALUES (#{contact},
                #{code},
                #{salt},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{expiresAt},
                IFNULL(#{isExpired}, DEFAULT(`expired_flag`)))
    </insert>

    <insert id="insertRegisterEmailCode"
            parameterType="dev.yhpark.matzip.entities.RegisterEmailCodeEntity">
        INSERT INTO `matzip`.`register_email_codes` (`email`, `code`, `salt`, `created_at`, `expires_at`, `expired_flag`)
            VALUE (#{email},
                   #{code},
                   #{salt},
                   IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                   #{expiresAt},
                   #{isExpired})
    </insert>

    <insert id="insertUser"
            parameterType="dev.yhpark.matzip.entities.UserEntity">
        INSERT INTO `matzip`.`users` (`email`, `password`, `nickname`, `contact`, `status`, `admin_flag`, `registered_at`)
            VALUE (#{email},
                   #{password},
                   #{nickname},
                   #{contact},
                   #{status},
                   #{isAdmin},
                   IFNULL(#{registeredAt}, DEFAULT(`registered_at`)))
    </insert>

    <select id="selectUserByEmail"
            resultType="dev.yhpark.matzip.entities.UserEntity">
        SELECT `email`         AS `email`,
               `password`      AS `password`,
               `nickname`      AS `nickname`,
               `contact`       AS `contact`,
               `status`        AS `status`,
               `admin_flag`    AS `isAdmin`,
               `registered_at` AS `registeredAt`
        FROM `matzip`.`users`
        WHERE BINARY `email` = #{email}
        LIMIT 1
    </select>

    <select id="selectUserByNickname"
            resultType="dev.yhpark.matzip.entities.UserEntity">
        SELECT `email`         AS `email`,
               `password`      AS `password`,
               `nickname`      AS `nickname`,
               `contact`       AS `contact`,
               `status`        AS `status`,
               `admin_flag`    AS `isAdmin`,
               `registered_at` AS `registeredAt`
        FROM `matzip`.`users`
        WHERE BINARY `nickname` = #{nickname}
        LIMIT 1
    </select>

    <select id="selectUserByContact"
            resultType="dev.yhpark.matzip.entities.UserEntity">
        SELECT `email`         AS `email`,
               `password`      AS `password`,
               `nickname`      AS `nickname`,
               `contact`       AS `contact`,
               `status`        AS `status`,
               `admin_flag`    AS `isAdmin`,
               `registered_at` AS `registeredAt`
        FROM `matzip`.`users`
        WHERE BINARY `contact` = #{contact}
        LIMIT 1
    </select>

    <select id="selectRecoverContactCodeByContactCodeSalt"
            parameterType="dev.yhpark.matzip.entities.RecoverContactCodeEntity"
            resultType="dev.yhpark.matzip.entities.RecoverContactCodeEntity">
        SELECT `index`        AS `index`,
               `contact`      AS `contact`,
               `code`         AS `code`,
               `salt`         AS `salt`,
               `created_at`   AS `createdAt`,
               `expires_at`   AS `expiresAt`,
               `expired_flag` AS `isExpired`
        FROM `matzip`.`recover_contact_codes`
        WHERE BINARY `contact` = #{contact}
          AND BINARY `code` = #{code}
          AND BINARY `salt` = #{salt}
        LIMIT 1
    </select>

    <select id="selectRecoverEmailCodeByEmailCodeSalt"
            parameterType="dev.yhpark.matzip.entities.RecoverEmailCodeEntity"
            resultType="dev.yhpark.matzip.entities.RecoverEmailCodeEntity">
        SELECT `index`        AS `index`,
               `email`        AS `email`,
               `code`         AS `code`,
               `salt`         AS `salt`,
               `created_at`   AS `createdAt`,
               `expires_at`   AS `expiresAt`,
               `expired_flag` AS `isExpired`
        FROM `matzip`.`recover_email_codes`
        WHERE BINARY `email` = #{email}
          AND BINARY `code` = #{code}
          AND BINARY `salt` = #{salt}
        LIMIT 1
    </select>

    <select id="selectRegisterContactCodeByContactCodeSalt"
            parameterType="dev.yhpark.matzip.entities.RegisterContactCodeEntity"
            resultType="dev.yhpark.matzip.entities.RegisterContactCodeEntity">
        SELECT `index`        AS `index`,
               `contact`      AS `contact`,
               `code`         AS `code`,
               `salt`         AS `salt`,
               `created_at`   AS `createdAt`,
               `expires_at`   AS `expiresAt`,
               `expired_flag` AS `isExpired`
        FROM `matzip`.`register_contact_codes`
        WHERE BINARY `contact` = #{contact}
          AND BINARY `code` = #{code}
          AND BINARY `salt` = #{salt}
        LIMIT 1
    </select>

    <select id="selectRegisterEmailCodeByEmailCodeSalt"
            parameterType="dev.yhpark.matzip.entities.RegisterEmailCodeEntity"
            resultType="dev.yhpark.matzip.entities.RegisterEmailCodeEntity">
        SELECT `index`        AS `index`,
               `email`        AS `email`,
               `code`         AS `code`,
               `salt`         AS `salt`,
               `created_at`   AS `createdAt`,
               `expires_at`   AS `expiresAt`,
               `expired_flag` AS `isExpired`
        FROM `matzip`.`register_email_codes`
        WHERE BINARY `email` = #{email}
          AND BINARY `code` = #{code}
          AND BINARY `salt` = #{salt}
        LIMIT 1
    </select>

    <update id="updateUser"
            parameterType="dev.yhpark.matzip.entities.UserEntity">
        UPDATE `matzip`.`users`
        SET `password`      = #{password},
            `nickname`      = #{nickname},
            `contact`       = #{contact},
            `status`        = #{status},
            `admin_flag`    = #{isAdmin},
            `registered_at` = #{registeredAt}
        WHERE `email` = #{email}
        LIMIT 1
    </update>

    <update id="updateRecoverContactCode"
            parameterType="dev.yhpark.matzip.entities.RecoverContactCodeEntity">
        UPDATE `matzip`.`recover_contact_codes`
        SET `contact`      = #{contact},
            `code`         = #{code},
            `salt`         = #{salt},
            `created_at`   = #{createdAt},
            `expires_at`   = #{expiresAt},
            `expired_flag` = #{isExpired}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <update id="updateRecoverEmailCode"
            parameterType="dev.yhpark.matzip.entities.RecoverEmailCodeEntity">
        UPDATE `matzip`.`recover_email_codes`
        SET `email`        = #{email},
            `code`         = #{code},
            `salt`         = #{salt},
            `created_at`   = #{createdAt},
            `expires_at`   = #{expiresAt},
            `expired_flag` = #{isExpired}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <update id="updateRegisterContactCode"
            parameterType="dev.yhpark.matzip.entities.RegisterContactCodeEntity">
        UPDATE `matzip`.`register_contact_codes`
        SET `contact`      = #{contact},
            `code`         = #{code},
            `salt`         = #{salt},
            `created_at`   = #{createdAt},
            `expires_at`   = #{expiresAt},
            `expired_flag` = #{isExpired}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <update id="updateRegisterEmailCode"
            parameterType="dev.yhpark.matzip.entities.RegisterEmailCodeEntity">
        UPDATE `matzip`.`register_email_codes`
        SET `email`        = #{email},
            `code`         = #{code},
            `salt`         = #{salt},
            `created_at`   = #{createdAt},
            `expires_at`   = #{expiresAt},
            `expired_flag` = #{isExpired}
        WHERE `index` = #{index}
        LIMIT 1
    </update>
</mapper>













